### What is Hypothesis Testing

Method used to make statistical decision.

ex: Average temperature in an April is 30 degrees , so we need some statistical way to prove this assumption true

- A hypothesis test evaluates two mutually exclusive statements about a population to determine which statement is best supported by the sample data

#### Null Hypothesis
Basic assumption made on problem
- ex: Survery to test people are healthy or not
- Null(H0): People are Healthy

#### Alternate Hypothesis
It is contrary to null hypothesis

- Ex: People are not Healthy

### Level of Significance
- 0.05 , output should be 95% confident to give result

#### Type 1 errors: 
- We reject the null hypothesis, although the hypothesis was true(alpha)
#### Type 2 errors:
- We accept the null hypothesis but is false(beta)
#### one tailed test
- number of bridge longer than 1km
#### Two tailed test
- number of bridge longer or smaller than 1km

#### T test

A t-test is a type of inferential statistic used to determine if there is a significant difference between the means of two groups, which may be related in certain features.

#### One sample t-test
- The one sample t test determine whether the sample mean is statistically different from a known or hypothesised population mean.

- Example :- you have 10 ages and you are checking whether avg age is 30 or not. (check code below for that using python)

In [1]:
from scipy.stats import ttest_1samp
import numpy as np

age = [32,34,29,29,22,39,38,37,38,36,36,26,22,22]
print(age)

[32, 34, 29, 29, 22, 39, 38, 37, 38, 36, 36, 26, 22, 22]

In [2]:
age_mean = np.mean(age)
print(age_mean)

31.428571428571427

In [3]:
tset, pval = ttest_1samp(age, 30)
print("P value ",pval)

if pval < 0.05:
    print("Rejecting the null hypothesis")
else:
    print("We are accepting null hypothesis")

P value  0.41824702596232033
We are accepting null hypothesis

#### Two sample t-test

A two sample t-test is used to test wheter or not the means of two population is equal`

Researchers want to know whether or not two different species of plants have the same mean height. To test this, they collect a simple random sample of 20 plants from each species.

Use the following steps to conduct a two sample t-test to determine if the two species of plants have the same height.
- ttest_ind(a, b, equal_var=True)
- equal_var: if True, perform a standard independent 2 sample t-test that assumes equal population variances.

In [4]:
height1 = np.array([14, 15, 15, 16, 13, 8, 14, 17, 16, 14, 19, 20, 21, 15, 15, 16, 16, 13, 14, 12])
height2 = np.array([15, 17, 14, 17, 14, 8, 12, 19, 19, 14, 17, 22, 24, 16, 13, 16, 13, 18, 15, 13])

# As a rule of thumb, we can assume the populations have equal variances if the ratio of the larger 
#sample variance to the smaller sample variance is less than 4:1. 

print(np.var(height1),np.var(height2))

7.727500000000001 12.260000000000002

In [5]:
import scipy.stats as stats

stats.ttest_ind(a = height1, b = height2, equal_var = True)

Ttest_indResult(statistic=-0.6337397070250238, pvalue=0.5300471010405257)

#### Interpretation

H0 = the two population mean are equal
H1 = they ain't equal

as p value is greater than p value, we reject null hypothesis.
so, we can't say to prove two popn mean are equal

#### Paired Sample Test

The paired sample t-test is also called dependent sample t-test. It's an uni variate test that tests for a significant different between 2 related variables.

- An example of this is if you where to collect the blood pressure for an individual before and after some treatment, condition, or time point.

In [6]:
# h0 = mean difference between the sample is 0
# mean difference between twoo sample is not 0
import numpy as np

In [7]:

l1 = []
for i in range(20):
    blood1 = np.random.randint(60,120)
    l1.append(blood1)

In [8]:

l2 = []
for i in range(20):
    blood2 = np.random.randint(60,120)
    l2.append(blood2)

In [9]:
b1 = np.array(l1)
b2 = np.array(l2)

In [10]:
ttest,pval = stats.ttest_rel(b1,b2)
print(pval)
if pval <0.05:
    print("Reject the null hypothesis")
else:
    print("accept the null hypothesis")

0.8543687892643127
accept the null hypothesis

- several different types of test are there in stat

you can use Z test if
- sample size > 30, else use t test
- Data should be independent to eachother
- Normal distribution
- random sampling

#### One sample z-test

In [11]:
import pandas as pd
df = pd.read_csv("blood.csv")
df.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [19]:
from statsmodels.stats import weightstats as stests
ztest, pval = stests.ztest(df["bp_before"],x2 = None,value = 156)
print(pval)
if pval <0.05:
    print("Reject the null hypothesis")
else:
    print("accept the null hypothesis")

0.6651614730255063
accept the null hypothesis

#### Two sample z test

similar to t-test here, we are checking two independent data groups and deciding whether sample mean of two groups is equal or not

- H0 mean of two groups is 0
- H1 mean of two groups is not 0

after applying ztest, mean = 0, std = 1

In [27]:
ztest, pval = stests.ztest(df['bp_before'],x2=df['bp_after'], value = 0, alternative = 'two-sided')
print(float(pval))

0.002162306611369422

In [26]:
if pval < 0.05:
    print("Reject the Null hypothesis")
else:
    print("accept H1")

Reject the Null hypothesis

(Try in a sample before finding conclusion in overall population)
- one categorical = one sample propotional test
- two categorical = chi square
- one continuous = t test
- two numerical = correlation
- one numerical varibale, one or two categorical(more than 2 category) = Anova test
- one numerical, 1 categorical(only two category) = T test
- p means  significance value


- p < 0.05  means, pvalue falls in 0.25 tail region of normal distribution
#### so, we reject it

- p means, say mouse pad touch 

Test is done with two mutually exclusive events (independent with each other)
For more events go with anova

#### Chi-Square test

This test is applied when you have two categorical variables from a single population. It is used to determine whether there is a significant associaltion between the two variables

- Gender : Male female
- vote : Democrat, Republican, Independent

In [ ]:
df = pd