In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('height.csv')
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [3]:
df.shape

(500, 4)

### Measure of central tendency

- Mean - It is negatively affected by outliers

In [4]:
df.Height.mean()

169.944

In [5]:
df.Weight.mean()

106.0

In [6]:
df.Height.median()

170.5

In [7]:
df.Weight.median()

106.0

In [8]:
df.Height.mode()

0    188
dtype: int64

In [9]:
df.Weight.mode()

0     50
1     80
2    104
dtype: int64